/* Default Settings */

*{
    padding: 0;
    margin: 0;
    color: white;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: black;
}

html{
    scroll-behavior: smooth;
}

a{
    transition: all 0.4s ease;
}

/* Nav */

nav,
.navlinks{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.navlinks{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
}

a:hover{
    color: red;
    text-decoration: underline;
    text-underline-offset: 1.2rem;
}

.logo{
    font-size: 2.5rem;
}

.logo:hover{
    cursor: default;
}

/* Responsive Nav */

.responsivenav{
    display: none;
}

.responsivemenu{
    position: relative;
    display: inline-block;
}

.responsiveicon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .pcnav{
        display: none;  
    }
    .responsivenav{
        display: flex ;
    }
}

.responsiveicon span{
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.4s ease-in-out;
}

.menulinks{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: black;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.menulinks a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menulinks li{
    list-style: none;
}

.menulinks.show{
    max-height: 300px !important;
}

.responsiveicon.show span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.responsiveicon.show span:nth-child(2){
    opacity: 0;
}

.responsiveicon.show span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.responsiveicon span:first-child{
    transform: none;
}

.responsiveicon span:nth-child(){
    opacity: 1;
}

.responsiveicon span:last-child{
    transform: none;
}

/* Profile Section */

section{
    padding-top: 4vh;
    height: 96vh;
}